/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Profile Section*/
/*Create a flexbox layout*/
.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.profile-image img {
    border: 8px solid rgb(76, 106, 76);
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.profile-user-name {
    display: inline-block;
    margin-bottom: 150px;
    margin-left: 20px;
    font-size: 2.5rem;
    font-weight: normal;
    position: relative;
}

ul li {
    display: inline-block;
}

.profile-stats {
    position: absolute;
    left: 48%;
}

.profile-stat-count {
    margin-left: 20px;
} 

.profile-bio {
    display: inline-block;
    position: absolute;
    top: 22%;
    left: 50%;
}

.profile-edit-btn {
    background-color: white;
    border: 1px solid lightgray;
}

.profile-settings-btn {
    border: none;
}

/*Gallery Section*/
/*Create a grid layout*/
.gallery-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery {
    display: grid;
    width: 35%;
    grid-gap: 10px;  
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-left: 650px;
    margin-right: 0;
}

.visually-hidden {
    visibility: hidden;
}

.gallery-item {
    position: relative;
}

.gallery-item-likes {
    position: absolute;
    left: 100px;
}

.gallery-item-comments {
    position: absolute;
    left: 160px;
}

.gallery-item-info {
    position: absolute;
    top: 40%;
    left: -20%;
    margin: 0;
    font-size: 1.5em;
    opacity: 0;
    transition: 0.5s;
}

.gallery-item:hover .gallery-item-info {
    color: white;
    font-weight: bold;
    opacity: 1;
}

.gallery-item:hover {
    filter: brightness(75%);
}

/*Create loader wheel*/
.loader {
    border: 5px solid rgb(76, 106, 76);
    border-top: 5px solid white;
    border-radius: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    animation: loader-wheel 0.5s linear infinite;
}

/*Setting keyframes for the loader wheel*/
@keyframes loader-wheel {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Adding media queries */
@media all and (max-width: 400px) {
    .container {
        flex-wrap: wrap;
    }
}